*{
  font-family: Helvetica;
}

.header h1{
font-size: 70px;
font-weight: bold;
color: white;
text-align: center;
}

.header{
background: url(/Users/zoomdesigns/broadway/image/the-flatiron-building.png);
background-size: cover;
height: 300px;
}

.l1{
  list-style-type: none;
  text-align: center;
  font-size: 18px;
  color: white;
}
.color1{
  color:white;
}
body {
    border: 2px solid red;
    padding: 10px;
}

h2{
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

h3{
  font-size: 23px;
  font-weight: bold;
  text-align: center;
}

img{
  display: block;
  margin:auto;
}

p{
  text-align: center;
}
.designed{
  background-image: url(/Users/zoomdesigns/broadway/image/the-flatiron-building.png);
  background-size: cover;
  height: 36px;
  color: white;
}

.l2{
  list-style: none;
  text-align: center;
}
a{
  color:white;
}

nav{
  background-color: dimgray
}
nav ul {
  list-style: none;
}

nav li{
  display: inline;
  font-size: 11px;
  color:white;

}
